body
{
    font-family: 'Leelawadee UI';
        
    
    
}

.box {
    margin-right: auto;
    margin-left: auto;
    border: 20px solid orange;
    padding-top: 2em;
    text-align: center;
    background-image:;
    
}

